<ul class="footer-ul">
    <li class="footer-li"><a href="/">Home</a></li>
    <li class="footer-li"><a href="/profile2">Profile</a></li>
    <li class="footer-li"><a href="/slide-show">Slideshow</a></li>
    <li class="footer-li"><a href="/terms">Terms</a></li>
    <li class="footer-li"><a href="/terms/#privacy">Privacy</a></li>
    <li class="footer-li"><a href="/faq">FAQs</a></li>


</ul>