<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FAQs</title>
    <link rel="stylesheet" href="css/faq.css" />
  </head>


  <body>
    <%- include('layouts/menu') -%>
    <main id="faqs">
      <h1>FAQs</h1>

      <fieldset id="terms">
        <legend>Our terms of service have changed</legend>
        <p>
          You'll be redirected to our terms of service page
          <!--shortly-->
          in <b><span id="seconds">X</span></b> seconds. Or, you can accept our
          new terms of service and stay on this page.
        </p>
        <p><input type="button" id="accept" value="I Accept" /></p>
      </fieldset>

      <h2><a href="#">What is SmartHub?</a></h2>
      <div>
        <p>
        This is a custom home device for controlling house hold settings.
        </p>
      </div>
      <h2><a href="#">How do I use it?</a></h2>
      <div>
        <p>Instructions:</p>
        <ul>
          <li>Turn power on.</li>
          <li>Allow boot up process to occur.</li>
          <li>Sign in using the password provided..</li>
        </ul>
      </div>
      <h2><a href="#">How do I change the backround photos on my slideshow?</a></h2>
      <div>
        <p>
          Call us. We can code in new images of your choosing.
        </p>
      </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="js/faq.js"></script>
    <footer>
      <%- include('layouts/footer') -%>
    </footer>
  </body>
</html>
