<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/project.css"/>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <%- include('layouts/menu') -%>

    <h1 id="smartHub"> Evans SmartHub</h1>
   
  <main>
    <h1 id="dashboard"> Profile</h1>
    <h2> Time is <span id="time"> </span></h2>
<script src="script.js">   </script>
<div>
    <h2>Profile Settings</h2>
    <form id="profile-settings">
      <div>
         <img src="https://th.bing.com/th/id/R.8056b5cbc71ece9950125c837cbb13cd?rik=o32ia%2fvnPgA2ow&riu=http%3a%2f%2fclipart-library.com%2fimages_k%2fperson-silhouette%2fperson-silhouette-18.png&ehk=uI2Jzuyq5pIhLIdVAiWaI8tpapmvl8RlI%2faZd5fHtss%3d&risl=&pid=ImgRaw&r=0" class = "centered-image" alt="profile-pic">
        
        <h3>
          <div>
          <label for="first-name">First Name:</label>
<input type="text" id="first-name" name="first-name" placeholder="Enter First Name">
          </div>
<div>
<label for="last-name">Last Name:</label>
<input type="text" id="last-name" name="last-name" placeholder="Enter Last Name">
          </div>
   <div>      
<form id="contact-form">
         <label for="email">Email:</label>
  <input type="email" id="email" name="email" required placeholder="Enter Email">
         </div>
         

         <label for="birthday">Birthday:</label>
         <select id="birthday-month" name="birthday-month">
           <option value="">Month</option>
           <option value="01">January</option>
           <option value="02">February</option>
           <option value="03">March</option>
           <option value="04">April</option>
           <option value="05">May</option>
           <option value="06">June</option>
           <option value="07">July</option>
           <option value="08">August</option>
           <option value="09">September</option>
           <option value="10">October</option>
           <option value="11">November</option>
           <option value="12">December</option>
         </select>
         
         <select id="birthday-day" name="birthday-day">
           <option value="">Day</option>
           <option value="01">1</option>
           <option value="02">2</option>
           <option value="03">3</option>
           <option value="04">4</option>
           <option value="05">5</option>
           <option value="06">6</option>
           <option value="07">7</option>
           <option value="08">8</option>
           <option value="09">9</option>
           <option value="10">10</option>
           <option value="11">11</option>
           <option value="12">12</option>
           <option value="13">13</option>
           <option value="14">14</option>
           <option value="15">15</option>
           <option value="16">16</option>
           <option value="17">17</option>
           <option value="18">18</option>
           <option value="19">19</option>
           <option value="20">20</option>
           <option value="21">21</option>
           <option value="22">22</option>
           <option value="23">23</option>
           <option value="24">24</option>
           <option value="25">25</option>
           <option value="26">26</option>
           <option value="27">27</option>
           <option value="28">28</option>
           <option value="29">29</option>
           <option value="30">30</option>
           <option value="31">31</option>
         </select>
        
         <div>
          <label for="password">Password:</label>
<input type="text" id="password" name="password" placeholder="Enter Password">
          </div>
<div>
<label for="confirm-password">Confirm Password:</label>
<input type="text" id="confirm-password" name="confirm-password" placeholder="Confirm Password">
          </div>
   <div>   
    <button type="reset" id="reset">Reset</button>
    <button type="submit">Submit</button>
    </div>   
   </h3>
   <footer>
    <%- include('layouts/footer') -%>
</footer>