<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Evans Slide Show</title>
    <link rel="stylesheet" href="css/project.css">
</head>
<div>
    <%- include('layouts/menu') -%>
</div>
<body>
 
    <main>
        <h2>Evans Slide Show</h2>

        <ul id="image_list">
            <li><a href="images/rebullf1.png" title="F1 Car"></a></li>
            <li><a href="images/redbullcar.png" title="Lambo"></a></li>
            <li><a href="images/redbullsxs.png" title="SXS"></a></li>
            <li><a href="images/redbulltruck.png" title="Trophy Truck"></a></li>
            <li><a href="images/redbullbike.png" title="Dirtbike"></a></li>

        </ul>
        
        <p><img id="main_image" src="images/redbullcar.png" alt="Racing Stuff"></p>
        <h2 id="caption">Racing Suff</h2>    

        <script src="js/slide-show.js"></script>
    </main>  
    <div>
        <button id="previous">Previous</button>
        <button id="next">Next</button>
      </div>
</body>
</html>